body{
  background-color: black;
  color: white;
  font-family:  "Doto",serif;
  font-weight: bold;
}
.chamada{
  background-color: rgb(109, 1, 109);
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}
.chamada-texto{
  margin-right: 5%;
}
img{
  height: 200px;
}
.categoria-vídeo{
  display: flex;
  overflow-x: auto;
  gap: 15px;
}
.caterogia{
  padding-left: 20px;
  padding-right: 20px;
}
h1{
  font-size: 40px;

}