body{
  background-color:black; 
  color:white; 
}
section{
  background-color: rgb(121, 8, 121);
  padding-top: 80 px;
  padding-bottom: 80 px;
  display: flex ;
  justify-content: center;
}
div{
   margin-right: 20 px ;
}