body{
  background-color:black; 
  color:white; 
}
section{
  background-color: rgb(121, 8, 121);
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}
.chamada -texto{
   margin-right: 5%;
}